version: "3"
services:
  myportfolio:
    container_name: myportfolio
    build: .
    restart: always 
    env_file:
    - .env
    ports:
    - "5000:5000"
    depends_on:
    - mysql

  mysql:
    container_name: mysql
    image: mariadb
    restart: always
    env_file:
    - .env
    volumes: 
    - mydatabase:/var/lib/mysql

nginx:
  container_name: nginx
  image: jonasal/ngnix-certbot
  restart: always
  environment:
  - CERTBOT_EMAIL=name@example.container_name
  ports:
  - 80:80
  - 443:443
  volumes:
  - nginx-secrets:/etc/letsencrypt
  - ./user_conf.d:/etc/nginx/user_conf.d
  depends_on:
  - myportfolio

volumes:
  mydatabase:
  nginx_secrets:


