p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

html, body {
    overflow-y: hidden;
  }

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}


.container{
    scroll-snap-type: x mandatory;
    display:flex;
    -webkit-overflow-scrolling: touch;
    overflow-x:auto;
    gap:20px;

}

.child{
    scroll-snap-align: center;
    border-right:1px solid white;
    padding:1rem;
    text-align:center;
    position:relative;
    flex:0 0 600px;
    width:30px; 
    height:550px;
    background:pink;
}

