p, h1, h2, h3, h4, h5, h6, button {
    font-family: "Roboto", serif;
}

h1{
    text-align: center;
}

html, body {
    width: 100%;
    height:100%;
  }

a{
    list-style:none;
}
  
body {
    font-family: "Roboto", serif;
    margin: 0px;

    background: linear-gradient(-45deg, #ECE8DB, #C1CCCA, #AEBCC4, #D3CBC7);
    background-size: 400% 400%;
    animation: gradient 9s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container{
    width:100%;
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position:relative;
    top:-5em;
}

.card{
    width:90%;
    max-width:440px;
    color:black;
    text-align: center;
    padding:50px 35px;
    border:1px solid rgba(255,255,255,0.3);
    background:#E1C5AC;
    border-radius:16px;
    box-shadow:0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter:blur(5px);
}

.container .pfp{
    height:375px;
    border-radius:50%;
}

.card h1{
    font-size:40px;
    font-weight:600;
    margin-top:20px;
    opacity:.8;
}

.links img{
    width:60px;
    height:60px;
    padding:.5em;
    transition: opacity 0.2s linear;
   -webkit-transition: opacity 0.2s linear;
   -moz-transition: opacity 0.2s linear;
}

.links img:hover{
    opacity:.4;
}

/* education section image css */

.eduLogo{
    height:200px;
    border-radius:50%;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.media-content ul{
    list-style: none;
}

.media-content img{
    width:42px;
    height:42px;
}

.media-content ul{
    display:inline-flex;
    position:relative;
    top: -5em;        
    right: 1em;
    float:right;
}

.media-content ul li{
    display:inline;
    padding-right:1.2em;
    transition: opacity 0.2s linear;
   -webkit-transition: opacity 0.2s linear;
   -moz-transition: opacity 0.2s linear;
}

.media-content ul li:hover{
    opacity:.6;
}