/*Navigation barhere*/
.nav-bar {
    width: 100%;
    display: inline-block;
    background-color: rgba(15, 54, 118, 0.811);
    font-family: "Roboto", serif;
    font-weight: 700 !important;
    padding-top: 20px;
}

.nav-content .logo-touch-target {
    display: inline-block;
    height: 60%;
    width: 350px;
}

.nav-content .nav-logo {
    height: 60px;
    margin: auto;
}

.nav-bar ul{
    float: right;
    margin-right: 30px;
}
.nav-bar ul li{
    list-style-type: none;
    margin-top: 1%;
    display: inline-block;
    transition: 0.7s all;
}
.nav-bar ul li:hover{
    font-size: 150%;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
}


.nav-logo {
    display: inline-block;
    align-items: center;
    justify-content: left;
    padding-left: 2%;
}

.nav-logo img {
    width: 200px;
}

.nav-content nav {
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-top: 0px;
    padding-right: 0px;
}

#person{
    font-size: x-large;
    margin-left: 10%;
    text-decoration: none;
    color: #fff;
}
/*until here*/