body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    min-height: 100vh;
    background: linear-gradient(-55deg, #fff, #957aa1, #586cc7, #cc6a9b);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
    color:white;
    overflow-x:hidden;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}


p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

a{
  text-decoration: none;
}


p, h1, h2, h3, h4, h5, h6, button {
    font-family: 'Lato', sans-serif;
}

.container{
    display:flex;
    position:relative;
    align-items: center;
    top:7em;
    right:-3em;
    justify-content: space-around;
    width:90%;
    height:60%;
  }

  .card{
    width:330px;
    height:450px;
    text-align: center;
    border:1px solid rgba(63, 61, 61, 0.548);
    color:white;
    border-radius:16px;
    box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.4);
    position:relative;
    bottom:-5em;
    transform: translatey(0);
    opacity:.6;

    background:black;
    word-break:break-word;
    
}

h1{
    position:relative;
    bottom:-3rem;
    font-size:70px;
    width:200px;
  }

  .card svg{
    width: 9rem;
    min-width: 2rem;
    padding-top:3rem;
  }

  .card h2{
    padding-top:2rem;
  }

  p{
    padding: 0rem 1rem 0rem 1rem;
  }
  
  .card h3{
    padding-top:3.5rem;
    font-size:23px;
  }

  .card h4{
    position:relative;
    bottom:-1.2rem;
    font-size:23px;
    padding-bottom:.5rem;
  }
  
  @keyframes float{
    0%{
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
      transform:translatey(0);
    }
  
    50%{
      box-shadow: 0px 25px 15px 0px rgba(0,0,0,0.4);
      transform:translatey(-20);
    }
  
    100%{
      box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.8);
      transform:translatey(0);
    }
  }
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2) and ( max-width: 2000px),
  only screen and (   min--moz-device-pixel-ratio: 2) and ( max-width: 2000px),
  only screen and (     -o-min-device-pixel-ratio: 2/1) and ( max-width: 2000px),
  only screen and (        min-device-pixel-ratio: 2) and ( max-width: 2000px),
  only screen and (                min-resolution: 192dpi) and ( max-width: 2000px),
  only screen and (                min-resolution: 2dppx) and ( max-width: 2000px) { 
      body{
        zoom:80%;
      }
}