<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="/static/styles/chuu.css">
    <link rel='icon' href='/static/img/favicon.ico' type='image/x-icon' />
   
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

   
    <title>{{ title }}</title>
</head>

<body>

    {% include 'navbar.html' %}
    
    <!-- exoerience section-->
<section id="experience">
    <h1>Experience</h1>
    <div class="container mt-2 pt-4">
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="/static/img/sbu.png" class= "eduLogo" alt="">
            </div>

            <div class="col-lg-8">
                <p> SBU Campus Residences Student IT Technician
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <p>Jan 2022 - May 2022</p>
                        <ul>
                            <li>Shadowed Lead IT Technicians semester-long 12 hours/week</li>
                            <li>Perform hardware diagnostics and reimaging for student and faculty owned devices</li>
                            <li>Troubleshoot software issues and effectively communicate the problem and solution to clients</li>
                            <li>Effectively communicate to customers and coworkers by logging detailed tickets of technical issues and resolutions</li>
                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <p>Returning Fall 2022 in a paid position as Campus Residences IT Technician.</p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="/static/img/na.png" class= "eduLogo" alt="">
                </div>
    
                <div class="col-lg-8">
                    <p> Nail Salon Receptionist
                    </p>
                    <p></p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <p>May 2022 - Present</p>
                            <ul>
                                <li>Warmly greet 50+ customers daily and alert technicians of their arrival</li>
                                <li>Manage and schedule appointment bookings</li>
                                <li>Answer clients' questions via phone and in-person</li>
                                <li>Maintain a clean and organized work space</li>
                                <li>Serve drinks and assist clients with color selection</li>
    
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p>
                        </p>
                    </div>
                </div>

                
            <div class="row mt-4">
                <div class="col-lg-4">
                    <img src="/static/img/na.png" class= "eduLogo" alt="">
                </div>
    
                <div class="col-lg-8">
                    <p> Grocery Store Cashier
                    </p>
                    <p></p>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <p>Dec 2021 - Jan 2022</p>
                            <ul>
                                <li> Executed various tasks: served 100+ customers a day, replenished shelf stock, maintained shelf organization, closed the store, packaged and bagged customers’ orders according to company standards</li>
    
                            </ul>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <p>
                        </p>
                    </div>
                </div>

        </div>
    </div>
</section>
</body>
</html>