<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
                <div class="nav-logo">
                   <a href="/"><img src="/static/img/logo.svg" alt="Home"></a>
                </div>
        </div>
    </header>

    <header class = "media">
        <div class = "media-content">
            <ul>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/MLH-Fellowship/project-kds"><img src= "/static/img/stack.svg" alt="Repository"></a>
                </li>   
        </div>
    </header>
    
    <div class = "container">
        <div class = "card" data-tilt>
            <a href="/chuu"><img class = "pfp" src = "/static/img/chuu.jpg"></a>
            <h1>Kaitlyn Chau</h1>
             <div class="links">
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/kaitlyn-m-chau/"><img src= "/static/img/linkedin.svg" alt="LinkedIn"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/kaitchau"><img src= "/static/img/github.svg" alt="Github"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/user/kachaumein?si=a81941a97c454509&nd=1"><img src= "/static/img/spotify.svg" alt="Contact"></a>
             </div>
        </div>

        <div class = "card" data-tilt>
            <a href="/xuo"><img class = "pfp" src = "/static/img/xuo.jpg"></a>
            <h1>Set Lynn</h1>
             <div class="links">
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/xuolynn9/"><img src= "/static/img/linkedin.svg" alt="LinkedIn"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/xuo-lynn"><img src= "/static/img/github.svg" alt="Github"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://open.spotify.com/user/22lrnz7y4nsfca3lzflobn7gi?si=e023dd7c09f54ef4"><img src= "/static/img/spotify.svg" alt="Contact"></a>
             </div>
        </div>

        <div class = "card" data-tilt>
            <a href="/"><img class = "pfp" src = "/static/img/diaz.jpg"></a>
            <h1>Daniel Diaz</h1>
             <div class="links">
                <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/daniel-diaz-lopez29/"><img src= "/static/img/linkedin.svg" alt="LinkedIn"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://github.com/ddl29"><img src= "/static/img/github.svg" alt="Github"></a>
                <a target="_blank" rel="noopener noreferrer" href="https://music.youtube.com/channel/UCSRvcpOWe3rw6JpCunn7gXw?feature=share"><img src= "/static/img/spotify.svg" alt="Contact"></a>
             </div>
        </div>

    </div>
    <script src = "/static/js/vanilla-tilt.js"></script>
</body>
</html>