<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/messages.css">
    <link rel='icon' href='./static/img/strawberry-milk.png' type='image/x-icon' />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{{ title }}</title>
</head>

<body>  
   <div class = "section">
    <div class="container">
        <h1>Message Board</h1>
        <form id= "form">
            <input name="name" placeholder="Enter your name">
            <input name="email" placeholder="Enter your email">
            <input name="content" placeholder="Enter your message">
            <button type="Submit">Submit</button>
        </form>
    </div>
   </div>
   <script>
        const form = document.getElementById('form');

        form.addEventListener('submit',function(e){
            e.preventDefault();
            const payload = new FormData(form);

            console.log([...payload]);

            fetch('/api/timeline_post',{
                method: 'POST',
                body: payload
            }).then(function(response){
                return response.json();
            }).then(function(data){
                console.log(data);
            });
        })
   </script>
</body>