<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Set's Portfolio">
    <meta property="og:description" content="Set's Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="/static/styles/xuo_hobbies.css">
    <link rel='icon' href='/static/img/strawberry-milk.png' type='image/x-icon' />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>{{ title }}</title>
</head>

<body>
    <div class = "container">
        <h1><strong>Some of my Hobbies.</strong></h1>

        <div class="card"  data-tilt data-tilt-scale="1.1">
            <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fad"
                      data-icon="fa-guitar-solid"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="svg-inline--fa fa-guitar-solid fa-w-16 fa-5x"
                    >
                      <g class="fa-group">
                        <path
                          fill="currentColor"
                          d="M502.7 39.02L473 9.37c-12.5-12.5-32.74-12.49-45.24 .0106l-46.24 46.37c-3.875 3.875-6.848 8.506-8.598 13.76l-12.19 36.51L284.5 182.3C272.4 173.5 259 166.5 244.4 163.1C211 155.4 177.4 162.3 154.5 185.1C145.3 194.5 138.3 206 134.3 218.6C128.3 237.1 111.1 251.3 92.14 253C68.52 255.4 46.39 264.5 29.52 281.5c-45.62 45.5-37.38 127.5 18.12 183c55.37 55.38 137.4 63.51 182.9 18c16.1-16.88 26.25-38.85 28.5-62.72c1.75-18.75 15.84-36.16 34.47-42.16c12.5-3.875 24.03-10.87 33.4-20.25c22.87-22.88 29.75-56.38 21.1-89.76c-3.375-14.63-10.39-27.99-19.14-40.11l76.25-76.26l36.53-12.17c5.125-1.75 9.894-4.715 13.77-8.59l46.36-46.29C515.2 71.72 515.2 51.52 502.7 39.02zM208 352c-26.5 0-48-21.5-48-48c0-26.5 21.5-48 48-48s47.1 21.5 47.1 48C256 330.5 234.5 352 208 352z"
                          class="fa-primary"
                        ></path>
                      </g>
                    </svg>
            <h2>Guitar</h2>
            <p>I picked up an electric guitar a few months ago and I love it. I listen to mostly R&B music, so playing a crispy chord with lots of reverb releases an unhealthy amount of seratonin.</p>
          </div>

          <div class="card"  data-tilt data-tilt-scale="1.1">
            <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fad"
                      data-icon="fa-gamepad-solid"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 640 512"
                      class="svg-inline--fa fa-gamepad-solid fa-w-16 fa-5x"
                    >
                      <g class="fa-group">
                        <path
                          fill="currentColor"
                          d="M448 64H192C85.96 64 0 149.1 0 256s85.96 192 192 192h256c106 0 192-85.96 192-192S554 64 448 64zM247.1 280h-32v32c0 13.2-10.78 24-23.98 24c-13.2 0-24.02-10.8-24.02-24v-32L136 279.1C122.8 279.1 111.1 269.2 111.1 256c0-13.2 10.85-24.01 24.05-24.01L167.1 232v-32c0-13.2 10.82-24 24.02-24c13.2 0 23.98 10.8 23.98 24v32h32c13.2 0 24.02 10.8 24.02 24C271.1 269.2 261.2 280 247.1 280zM431.1 344c-22.12 0-39.1-17.87-39.1-39.1s17.87-40 39.1-40s39.1 17.88 39.1 40S454.1 344 431.1 344zM495.1 248c-22.12 0-39.1-17.87-39.1-39.1s17.87-40 39.1-40c22.12 0 39.1 17.88 39.1 40S518.1 248 495.1 248z"
                          class="fa-primary"
                        ></path>
                      </g>
                    </svg>
            <h3>Gaming</h3>
            <p>Video Games are my go-to, and I've become pretty decent at most of the ones I play. Strategy Games, team Games, shooters, even Chess! Nothing is more fun than queuing up with friends and winning together. </p>
          </div>

          <div class="card" data-tilt data-tilt-scale="1.1">
            <svg
                      aria-hidden="true"
                      focusable="false"
                      data-prefix="fad"
                      data-icon="fa-heart"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 512 512"
                      class="svg-inline--fa fa-heart fa-w-16 fa-5x"
                    >
                      <g class="fa-group">
                        <path
                          fill="currentColor"
                          d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z"
                          class="fa-primary"
                        ></path>
                      </g>
                    </svg>
            <h4>Friends</h4>
            <p>Although it's not a hobby, I like hanging out with my friends. Staying home, ordering delivery, and watching a movie is one of life's hidden gems. </p>
          </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src = "/static/js/vanilla-tilt.js"></script>
  <script>
    AOS.init();
  </script>
</body>